.menu-box-shadow {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}
.freespace-image {
  line-height: 0;
  vertical-align: middle;
}
.fk-black {
  color: #000000;
}
.block-info-form--h2 {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.block-info-form--p {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 14px;
}
.block-radio-form {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.advantages__city {
  height: 868px;
}
.advantages__city .advantage__header {
  padding-top: 39px;
  margin: 0px;
}
.advantages__city .advantage__number {
  margin-top: 13px;
  margin-bottom: 20px;
}
.advantages__city .advantage__text {
  padding-left: 20px;
  padding-right: 20px;
}
.advantage {
  text-align: center;
}
.advantage--fk-white {
  color: white;
}
.advantage--fk-black {
  color: black;
}
.advantage--bk-base {
  background-color: #81b3d2;
}
.advantage--bk-gray {
  background-color: #efefef;
}
.advantage--city-height {
  height: 194px;
}
.advantage__header {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.advantage__number {
  display: block;
  margin-top: 13px;
  margin-bottom: 20px;
}
.advantage__text {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}
.advantage__image {
  z-index: -1;
  position: relative;
}
.advantage__image * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.advantage__image--city {
  height: 260px;
  background: url('../img/photo-city-1-x.png') 50% 50% no-repeat;
  background-size: cover;
  background-position: center top, 0px 0px;
}
.advantages__bridge {
  text-transform: uppercase;
}
.advantages__bridge .advantage__header {
  padding-top: 38px;
  font-size: 18px;
}
.advantages__bridge .advantage__text-number {
  margin-top: 14px;
  margin-bottom: 18px;
}
.advantages__bridge .advantage__text {
  padding-left: 20px;
  padding-right: 20px;
}
.advantage--bridge-height {
  height: 191px;
}
.advantage__image--bridge {
  height: 260px;
  background: url('../img/photo-bridge-1-x.png');
  background-size: cover;
}
.advantages__cityarea,
.advantages__road,
.advantages__turistinfo {
  text-transform: uppercase;
}
.advantages__cityarea .advantage__header,
.advantages__road .advantage__header,
.advantages__turistinfo .advantage__header {
  padding-top: 26px;
  margin-left: 32px;
  margin-right: 33px;
  margin-bottom: 10px;
}
.advantages__cityarea .advantage__number,
.advantages__road .advantage__number,
.advantages__turistinfo .advantage__number {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}
.advantages__cityarea .advantage__text,
.advantages__road .advantage__text,
.advantages__turistinfo .advantage__text {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 0px;
  margin-bottom: 14px;
}
.advantage--cityarea-height {
  height: 168px;
}
.advantages__isgood {
  text-transform: uppercase;
}
.advantages__isgood .advantage__header {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin-top: 30px;
}
.advantages__isgood .advantage__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
.advantage__list {
  position: relative;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  text-align: left;
}
.advantage__spliter {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
}
.advantage-item--house {
  position: relative;
  background: url("../img/icon-house-svg.png") no-repeat;
  background-position: 22px -8px;
}
.advantage-item--gift {
  position: relative;
  background: url("../img/icon-gift-svg.png") no-repeat;
  background-position: 24px -16px;
}
.advantage-item--burger {
  position: relative;
  background: url("../img/icon-burger-svg.png") no-repeat;
}
.advantage-item__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-top: 34px;
  margin-left: 70px;
  margin-bottom: 10px;
}
.advantage-item__text {
  font-size: 14px;
  line-height: 1.5;
  margin-left: 70px;
  margin-top: 14px;
  margin-bottom: 10px;
}
.advantages__bridge-text {
  background-color: #81b3d2;
  height: 191px;
}
.advantages__road {
  height: 168px;
}
.advantages__turistinfo {
  height: 167px;
}
.advantages__turist {
  height: 628;
}
.advantages__turist--find {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 02px;
  margin-bottom: 49px;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
