@import "variable.less";
@import "external-function.less";

.advantages{
  
}
.advantages__city{
  height:868px;
  .advantage__header{
    padding-top:61px-22px;
    margin:0px;    
  }
  .advantage__number{
    margin-top: 11px;
    margin-bottom: 15px;
  }
  .advantage__text{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.advantages__bridge{
  text-transform: uppercase;
  .advantage__header{
    padding-top:40px;
    font-size: 18px;
  }
  .advantage__number{
    padding-top:10px;
    padding-bottom: 0px;
  }
  .advantage__text{
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.advantages__cityarea,.advantages__road, .advantages__turistinfo{
  text-transform: uppercase;
  .advantage__header{
    padding-top: 26px;
    margin-left:32px;
    margin-right:33px;
    margin-bottom:10px;
  }
  .advantage__number{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom:15px;
  }
  .advantage__text{
    padding-left: 35px;
    padding-right: 35px;
    margin-top:2px;
    margin-bottom: 12px;
  }
}

.advantages__isgood{
  text-transform: uppercase;
  .advantage__header{
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    margin-top: 30px;
  }
  .advantage__text{
    font-size: 14px;
    line-height: 1.71;
    
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.advantages__isgood--height{

}

.advantages__rem{

}

.advantages__bridge-text{
  background-color:@mb_menuitem-bk;
  height:191px;
}


.advantages__road{
  height: 168px;
}
.advantages__turistinfo{
  height: 167px;
}

.advantages__turist{
  display: flex;
  justify-content: center;
  background-color: @mb_menuitem-bk;
  color: @mb_menuitem-fk-white;
  align-items: center;



  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;

  height: 58px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 02px;
  margin-bottom:49px;
}

.advantages__turist-find{
  
}

.advantages__turist-img{
  height: 350px;
  //.block-image();
  position: relative;
  background: url('../img/map-mobile-jpg.png')  no-repeat;
  background-size: cover;
  background-position: center top, 0px 0px;
  margin-bottom:00px
}
 

@media (min-width: 768px) and (max-width:1200px)  {

  .advantages .advantage__header{
    padding-top: 46px;
    padding-left: 53px;
    padding-right: 53px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages .advantage__number{
    font-family: PTSans;
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: @c-white;
  }
  .advantages .advantage__text{
    width: 162px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: @c-white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__city{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__city{
    height: auto;
  }

  .advantage--city-height{
    height: 256px !important;
    width: 256px;
  }

  .advantage__image--city{
    min-width: 200px;
    flex-grow: 1;
  }

  .intro-5p__decoration{
    display: none;
  }

  .advantage__list{
    display: flex;

  }

  .advantages__rem{
    height: 330px;
  }

  .advantages__bridge{
    display: flex;
    flex-direction: row-reverse;

    .advantage__header{
        padding-top:40px;
        font-size: 18px;
      }
      .advantage__number{
        padding-bottom: 0px;
        padding-top: 0px;
      }
      .advantage__text{
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
      }
  }

  .advantages__wrap{
    background-color: @c-gray;
    display: flex;
    height: 256px;
  }

  .advantages__isgood{
    height: 668px;
  }

  .advantages__isgood--height{
    height: 170px;
  }
  .advantages__turist{
    margin-left: 155px;
    margin-right: 155px;
    margin-bottom: 58px;
  }
}

