.advantage-item{
  margin-top:16px;
  padding-left: 50px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.advantage-item__header{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  padding-bottom: 4px;
}
.advantage-item__text{
  font-size: 14px;
  line-height: 1.5;
  margin-top:10px;
  padding-right: 30px;
}