.menu-box-shadow {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}
.freespace-image {
  line-height: 0;
  vertical-align: middle;
}
.fk-black {
  color: #000000;
}
.block-info-form--h2 {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.block-info-form--p {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 14px;
}
.block-radio-form {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.block-text--fk-white {
  color: #ffffff;
}
.block-text--bk-white {
  background-color: white;
}
.block-text--bk-gray {
  background-color: #efefef;
}
.block-text {
  display: inline-block;
  text-align: center;
}
.block-text .block-text__header {
  display: block;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: black-three;
}
.block-text .block-text__text-number {
  display: block;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}
.block-text .block-text__text {
  display: block;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 2.24;
  letter-spacing: normal;
}
.block-text .block-text__spliter {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
}
.block-text__spliter {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
.block-text.block-text--style1 {
  width: 320px;
  height: 204px;
}
.block-text.block-text--style1 h2,
.block-text.block-text--style1 p {
  margin: 0;
}
.block-text.block-text--style1 .block-text__header {
  margin: 0;
  display: block;
  margin-top: 40px;
  margin-left: 32px;
  width: 255px;
  height: 78px;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.446;
  letter-spacing: normal;
  text-align: center;
}
.block-text.block-text--style1 .block-text__text {
  margin: 0;
  display: block;
  margin-top: 40px;
  margin-left: 32px;
  width: 257px;
  height: 45px;
  margin-top: 30px;
  line-height: 1.85;
  font-size: 14px;
  font-weight: normal;
}
.block-text.block-text--find .block-text__header {
  margin-top: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}
.block-text.block-text--find .block-text__text {
  display: block;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
.block-text--advantage-list .block-text__header {
  margin-top: 9px;
  margin-left: 48px;
  text-align: left;
  font-weight: bold;
}
.block-text--advantage-list .block-text__text {
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 17px;
  padding-left: 49px;
  padding-right: 32px;
}
.block-text.block-text--city {
  background-color: #81b3d2;
}
.block-text.block-text--city .block-text__header {
  padding-top: 39px;
  margin: 0px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.block-text.block-text--city .block-text__text-number {
  display: block;
  margin-top: 13px;
}
.block-text.block-text--city .block-text__text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.block-text.block-text--bridge {
  background-color: #81b3d2;
}
.block-text.block-text--bridge .block-text__header {
  padding-top: 38px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.block-text.block-text--bridge .block-text__text-number {
  margin-top: 14px;
  margin-bottom: 18px;
}
.block-text.block-text--bridge .block-text__text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.block-text--simpleblock .block-text__header {
  margin-top: 26px;
  margin-left: 32px;
  margin-right: 33px;
  margin-bottom: 10px;
}
.block-text--simpleblock .block-text__text-number,
.block-text--simpleblock .block-text__text {
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.block-text--simpleblock .block-text__text-number {
  margin-top: 0px;
  margin-bottom: 14px;
}
.block-text--simpleblock .block-text__text {
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
}
