@import "variable.less";
@import "external-function.less";

.block-text--fk-white{
  color:@mb_menuitem-fk-white;
}

.block-text--bk-white{
  background-color:@c-bk_white;
}

.block-text--bk-gray{
  background-color:@mb_adventege_bk_gray;
}

.block-text{
  display: inline-block;
  text-align: center;
  .block-text__header{
    display: block;
    font-family: PTSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color:black-three;
  }
  .block-text__text-number{
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top:0px;
    margin-bottom:20px;
  }
  .block-text__text {
    display: block;
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 2.24;
    letter-spacing: normal;
    
  }
  .block-text__spliter{
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.3;
  }
}

.block-text__spliter{
  margin:0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
.block-text.block-text--find
{
  .block-text__header{
    margin-top: 30px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
  }
  .block-text__text{
    display: block;
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.block-text--advantage-list
{
  .block-text__header{
    margin-top: 9px;
    margin-left: 48px;
    text-align: left;
    font-weight: bold;
  }
  .block-text__text{
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    
    margin-top: 16px;
    margin-bottom: 17px;
    
    padding-left: 49px;
    padding-right: 32px;

  }
}
.block-text.block-text--city
{
  .bk-blue();
  .block-text__header{
    padding-top:61px-22px;

    margin:0px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    }
  .block-text__text-number{
    display: block;
    margin-top: 13px;
  }
  //ee(45<-38)
  .block-text__text{
    padding-left: 20px;
    padding-right: 20px;
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
  }
}
.block-text.block-text--bridge
{
  .bk-blue();
  .block-text__header{
    padding-top:38px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    }
  .block-text__text-number{
    margin-top:14px;
    margin-bottom: 18px;
  }
  //ee(45<-38)
  .block-text__text{
    padding-left: 20px;
    padding-right: 20px;
    
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
  }
}


.block-text--simpleblock
{
  .block-text__header{
    margin-top: 26px;
    margin-left:32px;
    margin-right:33px;
    margin-bottom:10px;
  }
  .block-text__text-number, .block-text__text{
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

  .block-text__text-number{
    margin-top:0px;
    margin-bottom: 14px;
  }
  .block-text__text{
    margin-left:13px;
    margin-right:13px;
    margin-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

