@import "shared.less";
@import "variable.less";
@import "external-function.less";

.block-image--h389t{
  height: 389px;
  .block-image();
  position: relative;
  z-index: -1;
  * {
    .position-absolute();
  }

  background: 
    url('../img/intro-triangle-svg.png') no-repeat,
    url('../img/text-index-svg.png') no-repeat,
    url('../img/back-mobile-jpg.png') 50% 50% no-repeat ;
    background-size: auto,auto, cover;
    background-position: center bottom, 20px 90px;
}

.block-image--back-mobile2{
  height: 438px;
  .block-image();
  background:     url('../img/intro-triangle-svg.png') no-repeat,
  url('../img/back-mobile-jpg.png') no-repeat ;
  background-size: auto,auto;
  background-position: center bottom;
}
.block-image--back-mobile{
  height: 438px;
  .block-image();
  background: 
    url('../img/intro-triangle-svg.png') no-repeat,
    url('../img/SEDONA.png') no-repeat,
    url('../img/back-mobile-jpg.png') no-repeat ;
  background-size: 
    auto,
    auto,
    auto;
  background-position: center bottom,46px 331px;
}

.block-image--blue{
  background-color:@mb_menuitem-bk;
}
.block-image--h260{
  height: 260px;
  .block-image();
}

.block-image--h260t{
  height: 260px;
  .block-image();
  position: relative;
  background: url('../img/photo-city-1-x.png') 50% 50% no-repeat ;
  background-size: cover;
  background-position: center top, 0px 0px;
}

.block-image--h260t{
  height: 260px;
  .block-image();
  position: relative;

  //margin-top: 39px;
  background: url('../img/photo-city-1-x.png') 50% 50% no-repeat ;
  background-size: cover;
  background-position: center top, 0px 0px;
}

.block-image--h350t{
  height: 350px;
  .block-image();
  position: relative;
  background: url('../img/map-mobile-jpg.png')  no-repeat;
  background-size: cover;
  background-position: center top, 0px 0px;
  margin-bottom:00px
}

.block-image--like{
  display: block;;
  position: relative;
  height:21px;
  width: 23px;
  background:url("../img/like-icon-svg.png");
  background-size: auto;
  background-position: center top;
}

.block-image--h19{
  height: 19px;
  .block-image();
}
.block-image--h37{
  height: 37px;
  .block-image();
}
.block-image--h48x46{
  height: 48px;
  width: 46px;
  .block-image();
}
.block-image--h48x47{
  height: 48px;
  width: 47px;
  .block-image();
}

.block-image--text{
  width: 281px;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 19px;
  margin-bottom:85px;
  background: url('../img/text-index-svg.png');
}

.block-image--decor{
  width: 100%;
  object-fit: contain;
}
.block-image--bk{
  margin: 0;
  height: 389px;
  background: url('../img/back-mobile-jpg.png') 50% 50% no-repeat;
  background-size: cover;
}

.block-image--whiterect{
  margin-top: 363px;
  height: 26px;
  background: url('../img/intro-triangle-svg.png');
}
.block-image--whiterect2{
  margin-top: 0px;
  background: @mb_menuitem-bk url('../img/white-copy-2.png');
} //background: url('../img/white-copy-2.png');

.block-image--bk-home{
  margin-top: 0px;
  background: url('../img/photo-city-1-x.png');
}
.block-image--bk-bridge{
  margin-top: 0px;
  padding: 0;
  background: url('../img/photo-bridge-1-x.png');
}
.block-image--bk-twiter{
  position: relative;
  height: 14px;
  width: 18px;
  background: url('../img/icon-twitter-svg.png')  no-repeat;
}
.block-image--bk-facebook{
  position: relative;
  height: 18px;
  width: 9px;
  background: url('../img/icon-facebook-svg.png') no-repeat;
}
.block-image--bk-youtube{
  position: relative;
  height: 14px;
  width: 18px;
  background: url('../img/icon-youtube-svg.png')  no-repeat;
}

.block-image--bk-map{
  background: url('../img/map-mobile-jpg.png')  no-repeat;
}

.block-image--bk-phone{
  position: relative;
  height: 58px;
  width: 58px;
  background: #e6e6e6  url('../img/phone-svg.png')  no-repeat;
  background-position: center;
}

.block-image--bk-mail{
  position: relative;
  height: 58px;
  width: 58px;
  background: #e6e6e6  url('../img/mail-svg.png')  no-repeat;
  background-position: center;
}

.block-image--bk-academ{
  position: relative;
  margin-left: 10px;
  height: 34px;
  width: 27px;
  background:   url('../img/htmlacademy-svg.png')  no-repeat;
  background-position: center;
}
