.menu-set-font-params(){
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color:@mb_menuitem-fk;
}

.menu-font-correct(){
  padding-top:9px;
}
  
.size-menu-button(@w,@h){
  width: @w;
  height: @h;
}
  
.absolute-verical-align(){
  top:0;
  bottom: 0;
  margin-top:auto;
  margin-bottom: auto;
}