.menu-box-shadow {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}
.freespace-image {
  line-height: 0;
  vertical-align: middle;
}
.fk-black {
  color: #000000;
}
.block-info-form--h2 {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.block-info-form--p {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 14px;
}
.block-radio-form {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
