@import "variable.less";


.font-base(){
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.menu-set-font-params(){
  .font-base();
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
  text-transform: uppercase;
  color:@mb_menuitem-fk;
}

.menu-font-correct(){
  padding-top:9px;
}
  
.size-menu-button(@w,@h){
  width: @w;
  height: @h;
}
  
.absolute-verical-align(){
  top:0;
  bottom: 0;
  margin-top:auto;
  margin-bottom: auto;
}

.block-image__img() {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .position-absolute(){
    display: block;
    position: absolute;
    left:0;
    top: 0;
    right: 0;
    bottom:0;
  }
  
.freespace-image{
  line-height: 0;
  vertical-align: middle;
}

.bk-blue(){
  background-color:@mb_menuitem-bk;
}

.fk-white(){
  color: @mb_menuitem-fk-white;
}
.fk-black{
  color: @mb_menuitem-fk;
}

.bk-gray(){
  background-color:@mb_adventege_bk_gray;
}

.text-center(){
  text-align: center;
}

.block-info-form--base(){
  .font-base();
  line-height: 1.71;
}

.block-info-form--h2{
  .block-info-form--base();
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.block-info-form--p{
  .block-info-form--base();
  font-size: 14px;
}

.block-radio-form{
  .block-info-form--base();
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
