@import "../less/variable";
@import "../less/external-function.less";

.formback{
  padding-left: 23px;
  padding-right: 21px;
  height:202px;
  background-color:@mb_menuitem-white ;
}

.formback__title{
  text-align: center;
  padding-top:37px;
  text-transform: uppercase;    
}
.formback__header{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @c-black;
}
.formback__desk{
    padding-top:28px;
    width: 276px;
    height: 140px;
    font-size: 14px;
    line-height: 1.71;
    color: @c-black;
}