@import "variable.less";

.formuser-item{
  margin-bottom: 18px;
}

.formuser-item__lable{
  font-size: 14px;
  line-height: 1.86;
  text-align: left;
}

.formuser-item__input{
  width: 100%;
  margin-left: 16px;
  height: @height-item;
  padding-left: 22px;
  border: 0;
  background-color: @c-gray-light;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: @c-black2;
}

.formuser-item__input--name{

}