.menu-box-shadow {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}
.freespace-image {
  line-height: 0;
  vertical-align: middle;
}
.fk-black {
  color: #000000;
}
.block-info-form--h2 {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.block-info-form--p {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 14px;
}
.formback {
  padding-left: 23px;
  padding-right: 21px;
  height: 202px;
  background-color: #ffffff;
}
.formback .formback__title {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  padding-top: 37px;
  text-transform: uppercase;
}
.formback .formback__header {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formback .formback__desk {
  padding-top: 28px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  font-size: 14px;
}
