.formuser-whatsee {
  position: relative;
  border-top: 1px solid #efefef;
  padding-left: 13px;
  padding-right: 20px;
  padding-bottom: 8px;
  height: 400px;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.formuser-whatsee__header {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  color: black;
  margin-top: 18px;
  margin-bottom: 8px;
}
.formuser-whatsee__wrap {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .formuser-whatsee {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formuser-whatsee-item {
    width: 260px !important;
  }
  .formuser-whatsee__input-wrap {
    outline: olive;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 280px;
    width: 100%;
  }
  .formuser-whatsee__header {
    width: 100%;
    text-align: center;
  }
  .formuser-whatsee__header::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    display: block;
    width: 100px;
    height: 1px;
    background-color: burlywood;
  }
  .formuser-whatsee__header::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 30px;
    display: block;
    width: 100px;
    height: 1px;
    background-color: burlywood;
  }
}
@media (min-width: 1280px) {
  .formuser-whatsee__header {
    min-width: 100%;
  }
  .formuser-whatsee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
  .formuser-whatsee__wrap.formuser-whatsee-item {
    width: 230px;
  }
}
