@import "../less/variable";
@import "../less/external-function.less";

.formuser{
  height: 304px;
  text-transform: uppercase;
  padding-left: 19px;
  padding-right: 20px;
//  padding-bottom: 6px;

  border-top: 1px solid @c-gray;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.formuser-item__lable{
  padding-top: 2px;
}

.formuser-item__input{
  padding-top: 0px;
}

.formuser__header{
  height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-top:19px;
  margin-bottom: 22px;
}

.formuser__wrap{
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}


@media (min-width: 768px) {
  .form-back{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .formuser-impression, .formuser
  {
    width: 307px;
  }
  .formuser-impression{
    order: -1;
    border-right: 1px solid gray;
    margin-left: 2px;
  }
  .formuser{

  }
  .formuser-contact{
    width: 100%;
  }
  .formuser-whatsee{
    width: 100%;
  }
  .formuser-callback{
    width: 100%;
  }
}