.formuser-callback-item{

}

.formuser-callback-item__text{
  flex-grow: 1;
  height: 120px;
  resize: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: @c-black2;
  background:@c-gray;
  border:0;
 
  padding: 20px;
  margin-bottom: 51px;
}