.menu-box-shadow {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}
.freespace-image {
  line-height: 0;
  vertical-align: middle;
}
.fk-black {
  color: #000000;
}
.intro-5p {
  text-align: center;
}
.intro-5p__image {
  height: 389px;
  position: relative;
  z-index: -1;
  background: url('../img/intro-triangle-svg.png') no-repeat, url('../img/text-index-svg.png') no-repeat, url('../img/back-mobile-jpg.png') 50% 50% no-repeat;
  background-size: auto,auto, cover;
  background-position: center bottom, 20px 90px;
}
.intro-5p__image * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.intro-5p__blocktext {
  height: 162px;
  text-transform: uppercase;
}
.intro-5p__header {
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  margin-top: 39px;
  margin-left: 30px;
  margin-right: 30px;
  height: 78px;
}
.intro-5p__text {
  line-height: 1.85;
  font-size: 14px;
  margin-top: 40px;
  margin-left: 32px;
  margin-top: 30px;
}
.intro-5p__decoration {
  background: #81b3d2 url('../img/white-copy-2.png');
  margin-top: 0px;
  height: 37px;
}
