@import "variable.less";
@import "external-function.less";

.menu-set-font-params(){
  .font-base();
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
  text-transform: uppercase;
  color:@mb_menuitem-fk;
}

.absolute-verical-align(){
  top:0;
  bottom: 0;
  margin-top:auto;
  margin-bottom: auto;
}

.mainmenu--absolute{
  height: 389px;
  width: 320px;
  .position-absolute();
}

.mainmenu__item--notactive{
  height: 57px !important;
}

.mainmenu__items--white{
  color:mb_menuitem-fk-white;
}
.mainmenu__items-bk-white{
  color:mb_menuitem-fk-white;
}
.mainmenu.mainmenu--closed .mainmenu__item:not(.mainmenu__item--notactive){
  display: none;
}
.mainmenu__items{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  text-align: center;
  vertical-align: middle;
  .menu-set-font-params();

  .mainmenu__item{
    display: flex;
    align-items: center;
    background-color:@mb_menuitem-bk;
    width: 100%;
    height: @mb_menuitem-height;
    position: relative;
    &--border-top{
      border-top: 1px solid @mb_bordrercolor-up;
    }
    &--border-down{
      border-bottom: 1px solid @mb_bordercolor-down;
    }
    &--border-gradient{
       background:linear-gradient(to top,  #6c96b0  0%, @mb_menuitem-bk 7%); 
    }
    &:hover:not(.mainmenu__item--notactive){
      //box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
      background-color: #669ec0
    }
    &:active:not(.mainmenu__item--notactive){
      //box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
      background-color: #5496bd
    }
    a{
      text-decoration:none;
      &:visited, &:link{
        color: @mb_menuitem-fk-white;
        @media (min-width: 768px) and (max-width:1200px)  {
          color: @c-black2;
        }
      }
    }
  }

  .mainmenu__image{
    display: block;
    position: absolute;
    &--close{
      right: 0;
      margin-right: 20px;
      width: 23px;
      height: 22px;

      .absolute-verical-align();
      z-index: 2;
      background-image: @mb_url-img-close;
    }
    &--open{
      right: 0;
      margin-right: 20px;
      width: 23px;
      height: 21px;
      .absolute-verical-align();
      background-image: @mb_url-img-open;
    }
  } 
}

.mainmenu__item.mainmenu__item{
  &--bk-color-white{
    background-color: @mb_menuitem-bk-white;
  }
}

.mainmenu__image--logo{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.menuitem__text{
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
}

.mainmenu__logo{
  position: relative;
  margin-top:-58px;
  display: flex;
  justify-content: center;
  background-color: @c-white !important;
}

.mainmenu__item--o10{
  order: 10;
}
.mainmenu__item--o20{
  order: 20;
}
.mainmenu__item--o30{
  order: 30;
}
.mainmenu__item--o40{
  order: 40;
}
.mainmenu__item--oLogo{
  order: 50;
}


@media (min-width: 320px) and (max-width:767px)  {
  .mainmenu__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// Планшет
@media (min-width: 768px) and (max-width:1200px)  {

  .mainmenu__items{
    min-width: 768px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .mainmenu__item--oLogo{
      order: 25;
      padding-right: 10px;
    }

    .mainmenu__image--open, .mainmenu__image--close{
      display: none;
    }
  }

  .mainmenu__item{
    height: 56px !important;
  }
  
  .menuitem__text{
    width: 100%px;
    font-family: PTSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
    color: @c-black2;
  }

  .mainmenu__image--logo{
    img{
      
      content: url("../img/logo-sedona-tablet.svg");
    }
  }

  .mainmenu__item{
    max-width: 153px;
    background: @c-white !important;
  }

  .mainmenu__item--border-down,.mainmenu__item--border-top{

  }

  .mainmenu__item{
    border: none !important;
    background: @c-white !important;
    -webkit-sh

    &:hover:not(.mainmenu__item--notactive){
      border: none !important;
    }

    &:active:not(.mainmenu__item--notactive){
    }

    a{
      text-decoration:none;
      &:visited, &:link{

      }
    }
  }

}