.mainmenu--absolute {
  height: 389px;
  width: 320px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.mainmenu__item--notactive {
  height: 57px !important;
}
.mainmenu__items--white {
  color: mb_menuitem-fk-white;
}
.mainmenu__items-bk-white {
  color: mb_menuitem-fk-white;
}
.mainmenu.mainmenu--closed .mainmenu__item:not(.mainmenu__item--notactive) {
  display: none;
}
.mainmenu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  vertical-align: middle;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.mainmenu__items .mainmenu__item {
  display: flex;
  align-items: center;
  background-color: #81b3d2;
  width: 100%;
  height: 54px;
  position: relative;
}
.mainmenu__items .mainmenu__item--border-top {
  border-top: 1px solid #9ac2db;
}
.mainmenu__items .mainmenu__item--border-down {
  border-bottom: 1px solid #678fa8;
}
.mainmenu__items .mainmenu__item--border-gradient {
  background: linear-gradient(to top, #6c96b0 0%, #81b3d2 7%);
}
.mainmenu__items .mainmenu__item:hover:not(.mainmenu__item--notactive) {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  background-color: #669ec0;
}
.mainmenu__items .mainmenu__item:active:not(.mainmenu__item--notactive) {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  background-color: #5496bd;
}
.mainmenu__items .mainmenu__item a {
  text-decoration: none;
}
.mainmenu__items .mainmenu__item a:visited,
.mainmenu__items .mainmenu__item a:link {
  color: #ffffff;
}
.mainmenu__items .mainmenu__image {
  display: block;
  position: absolute;
}
.mainmenu__items .mainmenu__image--close {
  right: 0;
  margin-right: 20px;
  width: 23px;
  height: 22px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../img/icon-cross.png");
}
.mainmenu__items .mainmenu__image--open {
  right: 0;
  margin-right: 20px;
  width: 23px;
  height: 21px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../img/icon-menu-svg.png");
}
.mainmenu__item.mainmenu__item--bk-color-white {
  background-color: #ffffff;
}
.mainmenu__image--logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.menuitem__text {
  cursor: pointer;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
}
