.padding-margin-0 {
  padding: 0px;
  margin: 0px;
}
.menu-image {
  height: 437px;
  z-index: -1;
  background: url('../img/intro-triangle-svg.png') no-repeat, url('../img/sedona.svg') no-repeat, url('../img/back-mobile-jpg.png') no-repeat;
  background-size: auto,
    229px 239px,
    auto;
  background-position: center bottom, 46px 231px;
}
.menu-image * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .menu-image {
    background: url('../img/intro-triangle-svg.png') no-repeat, url('../img/sedona.svg') no-repeat, url('../img/back-desktop-jpg.png') left top no-repeat;
    height: 290px;
    background-position: center bottom, 157px 90px;
    background-size: auto, 456px 90px, auto;
  }
}
@media (min-width: 1280px) {
  .menu-image {
    height: 301px;
    z-index: -1;
    background: url('../img/intro-triangle-svg.svg') no-repeat, url('../img/sedona.svg') no-repeat, url('../img/back-desktop-jpg.png') no-repeat;
    background-size: auto, 460px, auto;
    background-position: center bottom, center 102px;
  }
  .menu-image * {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
