@pahoto-card-margin-left:19px;

.photo-card{
  height: 414px;
  border-top:1px solid rgb(220,220,220);
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.photo-card__image{
  margin-left: @pahoto-card-margin-left;  
  margin-top: 22px;
  margin-right: 20px;
}
.photo-card__header{
  font-size: 14px;
  margin-top:10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: @pahoto-card-margin-left;
}
.photo-card__author{
  font-weight: normal;
  margin-left: @pahoto-card-margin-left;  
}
.photo-card__like{
  margin-top:5px;
  margin-left: @pahoto-card-margin-left;  
  font-weight: normal;
}

.photo-card__like-count{
  padding: 3px;
  width: 31px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  margin-left: 35px;
}