.photoinfo {
  background-color: white;
}
.photoinfo__desc {
  height: 188px;
}
.photoinfo__header {
  padding-top: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.photoinfo__header--margin-small {
  padding-top: 32px;
}
.photoinfo__text {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-stretch: expanded;
  line-height: 1.71;
  text-align: center;
  text-transform: uppercase;
}
.photoinfo__text--lr-small {
  padding-left: 40px;
  padding-right: 40px;
}
.photoinfo__video {
  height: 498px;
  border-top: 1px solid #efefef;
}
