.photo {
  background-color: white;
}
.photo__desc {
  height: 145px;
  width: 269px;
  padding-left: 27px;
  padding-top: 44px;
}
.photo__desc--header {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
.photh__desc--text {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
