@import "external-function.less";

.photoinfo{
  background-color:white;
}
.photoinfo__desc{
  height: 188px;
  .photoinfo__desc--header{
    padding-top: 37px;
  
    font-family: PTSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }
  //ee(14<-13)
  .photoinfo__desc--text{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  
    font-family: PTSans;
    font-size: 13px;
    font-weight: normal;
    font-stretch: expanded;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }
}

.photoinfo__video{
  height: 492px+10px;
  border-top:1px solid rgb(220,220,220);
  .photoinfo__desc--header{
    padding-top: 33px;
  
    font-family: PTSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }
  //ee(14<-13)
  .photoinfo__desc--text{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  
    font-family: PTSans;
    font-size: 13px;
    font-weight: normal;
    font-stretch: expanded;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .photoinfo__video--timeless{
    size: 10px;
    width: 20px;
    height: 10px;
    color: aqua;
  }
  .photoinfo__videoplayer{
    position: relative;
    margin-top: 37px;
    height: 201px;
    .block-image();
    position: relative;
    z-index: 1;
    background: url('../img/video-mobile@1x.jpg') no-repeat ;
    background-size: contain;
    background-position: center top, 0px 0px;
    &--box{
      margin-top:156px;
      height: 45px;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      background-color:#000000;
      opacity: 0.6;
    }
    &--volume-scale{
      z-index: 10;
      margin-top:178px;
      margin-left: 43px;
      width: 235px;
      height: 3px;
      background-color: white;
      opacity: 0.2;
    }
    &--volume-slider {
      z-index: 10;
      border-radius: 50%;
      margin-top:175px;
      margin-left: 78px;
      width: 9px;
      height: 9px;
      background-color: white;
    }
    &--box2{
      margin-top:201px;
      height: 68px;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      background-color:#000000;
      opacity: 0.08;
    }
    &--replay{
      margin-left: 45px;
      margin-top: 223px;
      height: 20px;
      .block-image();
      background: url('../img/replay-svg.png') no-repeat ;
    }
    &--subtitles{
      margin-left: 194px;
      margin-top: 225px;
      height: 20px;
      .block-image();
      background: url('../img/icon-video-subtitles.svg') no-repeat ;
    }
    &--fullscreen{
      margin-left: 257px;
      margin-top: 224px;
      height: 20px;
      .block-image();
      background: url('../img/fullscreen-svg.png') no-repeat ;
    }

  }
}



  



