.photo-card {
  height: 414px;
  border-top: 1px solid #dcdcdc;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
.photo-card__image {
  margin-left: 19px;
  margin-top: 22px;
  margin-right: 20px;
}
.photo-card__header {
  font-size: 20px;
  margin-top: 0px;
  font-weight: bold;
  text-transform: lowercase;
  margin-left: 19px;
}
.photo-card__author {
  font-weight: normal;
  margin-left: 19px;
}
.photo-card__like {
  margin-top: 5px;
  margin-left: 19px;
  font-weight: normal;
}
.photo-card__like-count {
  padding: 3px;
  width: 31px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  margin-left: 35px;
}
