.photo-card {
  height: 414px;
  border-top: 1px solid #dcdcdc;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
.photo-card__image {
  margin-left: 19px;
  margin-top: 22px;
  margin-right: 20px;
}
.photo-card__header {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 19px;
}
.photo-card__author {
  font-weight: normal;
  margin-left: 19px;
}
.photo-card__like {
  margin-top: 7px;
  margin-left: 19px;
  font-weight: normal;
}
.photo-card__like-count {
  padding: 3px;
  padding-left: 2px;
  width: 31px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  margin-left: 35px;
}
.photo-card__like-img {
  z-index: 1;
  display: block;
  position: relative;
  height: 21px;
  width: 23px;
  background: url("../img/like-icon-svg.png") no-repeat;
  background-size: auto;
  background-position: left top;
}
.photo-card__like-img * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .photoinfo div.photo-card {
    border-top: none;
  }
  .photoinfo .photo-card {
    background: #f2f2f2;
    height: 348px;
  }
  .photoinfo .photo-card .photo-card__image {
    width: 324px;
    height: 267px;
    padding: 0;
    margin: 0;
  }
  .photoinfo :nth-child(2).photo-card {
    background: #f2f2f2;
    height: 480px;
  }
  .photoinfo :nth-child(2).photo-card .photo-card__image {
    padding: 0;
    margin: 0;
  }
  .photoinfo :nth-child(2).photo-card img {
    width: 648px;
    height: 400px;
  }
  .photo-card__header {
    padding-left: 2px;
  }
  .photoinfo .photo-card__wrap {
    display: flex;
  }
  .photo-card__author {
    padding-left: 2px;
    flex-grow: 2;
  }
  .photo-card__like {
    margin-top: -12px;
    width: 83px;
    text-align: left;
  }
  .photo-card__like-count {
    margin: 0;
    padding-left: 31px;
  }
}
@media (min-width: 1280px) {
  .photoinfo :nth-child(2).photo-card {
    position: relative;
    height: 400px;
  }
  .photoinfo :nth-child(2).photo-card .photo-card__about {
    width: 1200px;
  }
  .photoinfo :nth-child(2).photo-card .photo-card__image {
    padding: 0;
    margin: 0;
  }
  .photoinfo :nth-child(2).photo-card img {
    width: 1200px;
    height: 400px;
  }
  .photoinfo .photo-card {
    position: relative;
    height: 267px;
  }
  .photoinfo .photo-card .photo-card__about {
    width: 400px;
  }
  .photoinfo .photo-card .photo-card__image {
    width: 400px;
    height: 267px;
    padding: 0;
    margin: 0;
  }
  .photo-card__header {
    color: white;
  }
  .photo-card__author {
    color: white;
  }
  .photo-card__like-count {
    color: white;
  }
  .photo-card__about {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0px;
    padding-top: 7px;
    padding-bottom: 17px;
  }
}
