h2,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'PTSans';
  padding: 0;
  margin: 0;

  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  outline: 1px solid lightgray;
}

@media (min-width: 320px) {
  body {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}


@media (min-width: 1280px) {
  body {
    background: #f2f2f2;
    max-width: 1280px;
  }
}
