.freespace-image {
  line-height: 0;
  vertical-align: middle;
}
.fk-black {
  color: #000000;
}
.block-info-form--h2 {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.block-info-form--p {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 14px;
}
.block-radio-form {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.advantages__city {
  height: 868px;
}
.advantages__city .advantage__header {
  padding-top: 39px;
  margin: 0px;
}
.advantages__city .advantage__number {
  margin-top: 11px;
  margin-bottom: 15px;
}
.advantages__city .advantage__text {
  padding-left: 20px;
  padding-right: 20px;
}
.advantage {
  text-align: center;
}
.advantage--fk-white {
  color: white;
}
.advantage--fk-black {
  color: black;
}
.advantage--bk-base {
  background-color: #81b3d2;
}
.advantage--bk-gray {
  background-color: #efefef;
}
.advantage--city-height {
  height: 194px;
}
.advantage__header {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.advantage__number {
  font-size: 14px;
  line-height: 1.5;
}
.advantage__text {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}
.advantage__image--city {
  height: 260px;
  background: url('../img/photo-city-1-x.png') 50% 50% no-repeat;
  background-size: cover;
  background-position: center top, 0px 0px;
}
.advantages__bridge {
  text-transform: uppercase;
}
.advantages__bridge .advantage__header {
  padding-top: 40px;
  font-size: 18px;
}
.advantages__bridge .advantage__number {
  padding-top: 10px;
  padding-bottom: 0px;
}
.advantages__bridge .advantage__text {
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.advantage--bridge-height {
  height: 191px;
}
.advantage__image--bridge {
  height: 260px;
  background: url('../img/photo-bridge-1-x.png');
  background-position: -102px 0px;
  background-size: cover;
}
.advantages__cityarea,
.advantages__road,
.advantages__turistinfo {
  text-transform: uppercase;
}
.advantages__cityarea .advantage__header,
.advantages__road .advantage__header,
.advantages__turistinfo .advantage__header {
  padding-top: 26px;
  margin-left: 32px;
  margin-right: 33px;
  margin-bottom: 10px;
}
.advantages__cityarea .advantage__number,
.advantages__road .advantage__number,
.advantages__turistinfo .advantage__number {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.advantages__cityarea .advantage__text,
.advantages__road .advantage__text,
.advantages__turistinfo .advantage__text {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 2px;
  margin-bottom: 12px;
}
.advantage--cityarea-height {
  height: 168px;
}
.advantages__isgood {
  text-transform: uppercase;
}
.advantages__isgood .advantage__header {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin-top: 30px;
}
.advantages__isgood .advantage__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
.advantage__list {
  position: relative;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  text-align: left;
}
.advantage-item {
  margin-top: 16px;
  padding-left: 50px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.advantage__spliter {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
}
.advantage-item--house {
  position: relative;
  background: url("../img/icon-house-svg.png") no-repeat;
  top: 14px;
  left: 21px;
}
.advantage-item--gift {
  position: relative;
  background: url("../img/icon-gift-svg.png") no-repeat;
  top: 26px;
  left: 24px;
}
.advantage-item--burger {
  position: relative;
  background: url("../img/icon-burger-svg.png") no-repeat;
  top: 38px;
  left: 22px;
}
.advantage-item__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  padding-bottom: 4px;
}
.advantage-item__text {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
  padding-right: 30px;
}
.advantages__bridge-text {
  background-color: #81b3d2;
  height: 191px;
}
.advantages__road {
  height: 168px;
}
.advantages__turistinfo {
  height: 167px;
}
.advantages__turist {
  display: flex;
  justify-content: center;
  background-color: #81b3d2;
  color: #ffffff;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  height: 58px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 02px;
  margin-bottom: 49px;
}
.advantages__turist-img {
  height: 350px;
  z-index: -1;
  position: relative;
  background: url('../img/map-mobile-jpg.png') no-repeat;
  background-size: cover;
  background-position: center top, 0px 0px;
  margin-bottom: 0px;
}
.advantages__turist-img * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image {
  z-index: -1;
}
.block-image * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image--h389t {
  height: 389px;
  position: relative;
  z-index: -1;
  background: url('../img/intro-triangle-svg.png') no-repeat, url('../img/text-index-svg.png') no-repeat, url('../img/back-mobile-jpg.png') 50% 50% no-repeat;
  background-size: auto,auto, cover;
  background-position: center bottom, 20px 90px;
}
.block-image--h389t * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image--h389t * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image--back-mobile2 {
  height: 438px;
  z-index: -1;
  background: url('../img/intro-triangle-svg.png') no-repeat, url('../img/back-mobile-jpg.png') no-repeat;
  background-size: auto,auto;
  background-position: center bottom;
}
.block-image--back-mobile2 * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image--back-mobile {
  height: 438px;
  z-index: -1;
  background: url('../img/intro-triangle-svg.png') no-repeat, url('../img/SEDONA.png') no-repeat, url('../img/back-mobile-jpg.png') no-repeat;
  background-size: auto,
    auto,
    auto;
  background-position: center bottom,46px 331px;
}
.block-image--back-mobile * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image--blue {
  background-color: #81b3d2;
}
.block-image--h260 {
  height: 260px;
  z-index: -1;
}
.block-image--h260 * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image--like {
  z-index: 1;
  display: block;
  position: relative;
  height: 21px;
  width: 23px;
  background: url("../img/like-icon-svg.png");
  background-size: auto;
  background-position: center top;
}
.block-image--h19 {
  height: 19px;
  z-index: -1;
}
.block-image--h19 * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.block-image--h48x46 {
  height: 48px;
  width: 46px;
}
.block-image--h48x47 {
  height: 48px;
  width: 47px;
}
.block-image--text {
  width: 281px;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 19px;
  margin-bottom: 85px;
  background: url('../img/text-index-svg.png');
}
.block-image--decor {
  width: 100%;
  object-fit: contain;
}
.block-image--bk {
  margin: 0;
  height: 389px;
  background: url('../img/back-mobile-jpg.png') 50% 50% no-repeat;
  background-size: cover;
}
.block-image--whiterect {
  margin-top: 363px;
  height: 26px;
  background: url('../img/intro-triangle-svg.png');
}
.block-image--bk-home {
  margin-top: 0px;
  background: url('../img/photo-city-1-x.png');
}
.block-image--bk-twiter {
  position: relative;
  height: 14px;
  width: 18px;
  background: url('../img/icon-twitter-svg.png') no-repeat;
}
.block-image--bk-facebook {
  position: relative;
  height: 18px;
  width: 9px;
  background: url('../img/icon-facebook-svg.png') no-repeat;
}
.block-image--bk-youtube {
  position: relative;
  height: 14px;
  width: 18px;
  background: url('../img/icon-youtube-svg.png') no-repeat;
}
.block-image--bk-map {
  background: url('../img/map-mobile-jpg.png') no-repeat;
}
.block-image--bk-phone {
  position: relative;
  height: 58px;
  width: 58px;
  background: #e6e6e6 url('../img/phone-svg.png') no-repeat;
  background-position: center;
}
.block-image--bk-mail {
  position: relative;
  height: 58px;
  width: 58px;
  background: #e6e6e6 url('../img/mail-svg.png') no-repeat;
  background-position: center;
}
.block-image--bk-academ {
  z-index: 1;
  position: relative;
  margin-left: 10px;
  height: 34px;
  width: 27px;
  background: url('../img/htmlacademy-svg.png') no-repeat;
  background-position: center;
}
.block-text--fk-white {
  color: #ffffff;
}
.block-text--bk-white {
  background-color: white;
}
.block-text {
  display: inline-block;
  text-align: center;
}
.block-text .block-text__header {
  display: block;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: black-three;
}
.block-text .block-text__text-number {
  display: block;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}
.block-text .block-text__text {
  display: block;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 2.24;
  letter-spacing: normal;
}
.block-text__spliter {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
.block-text.block-text--find .block-text__header {
  margin-top: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}
.block-text.block-text--find .block-text__text {
  display: block;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
.mainmenu--absolute {
  height: 389px;
  width: 320px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.mainmenu__item--notactive {
  height: 57px !important;
}
.mainmenu__items--white {
  color: mb_menuitem-fk-white;
}
.mainmenu__items-bk-white {
  color: mb_menuitem-fk-white;
}
.mainmenu.mainmenu--closed .mainmenu__item:not(.mainmenu__item--notactive) {
  display: none;
}
.mainmenu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  vertical-align: middle;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.mainmenu__items .mainmenu__item.mainmenu__item--bk-color-white {
  background-color: #ffffff;
}
.mainmenu__items .mainmenu__item {
  display: flex;
  align-items: center;
  background-color: #81b3d2;
  width: 100%;
  height: 54px;
  position: relative;
}
.mainmenu__items .mainmenu__item--border-top {
  border-top: 1px solid #9ac2db;
}
.mainmenu__items .mainmenu__item--border-down {
  border-bottom: 1px solid #678fa8;
}
.mainmenu__items .mainmenu__item--border-gradient {
  background: linear-gradient(to top, #6c96b0 0%, #81b3d2 7%);
}
.mainmenu__items .mainmenu__item:hover:not(.mainmenu__item--notactive) {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  background-color: #669ec0;
}
.mainmenu__items .mainmenu__item:active:not(.mainmenu__item--notactive) {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  background-color: #5496bd;
}
.mainmenu__items .mainmenu__item a {
  text-decoration: none;
}
.mainmenu__items .mainmenu__item a:visited,
.mainmenu__items .mainmenu__item a:link {
  color: #ffffff;
}
.mainmenu__items .menuitem__text {
  cursor: pointer;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: center;
}
.mainmenu__items .mainmenu__image {
  display: block;
  position: absolute;
}
.mainmenu__items .mainmenu__image--close {
  right: 0;
  margin-right: 20px;
  width: 23px;
  height: 22px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../img/icon-cross.png");
}
.mainmenu__items .mainmenu__image--open {
  right: 0;
  margin-right: 20px;
  width: 23px;
  height: 21px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../img/icon-menu-svg.png");
}
.mainmenu__image--logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0;
}
.intro__picture {
  border: 1px solid springgreen;
  height: 389px;
}
.menu-box-shadow {
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}
.visitsedona {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  height: 233px;
  background-color: white;
}
.visitsedona__buttons--bk {
  background-color: #81b3d2;
}
.visitsedona__header {
  margin-top: 0px;
  padding-top: 34px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: black;
}
.visitsedona__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 42px;
}
.visitsedona__button {
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  z-index: 1;
  width: 46px;
  height: 48px;
}
.visitsedona__dev {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: black;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'PTSans';
  padding: 0;
  margin: 0;
  max-width: 320px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  outline: 1px solid lightgray;
}
h2,
p {
  font-family: 'PTSans';
  margin: 0;
  padding: 0;
}
.photoinfo {
  background-color: white;
}
.photoinfo__desc {
  height: 188px;
}
.photoinfo__header {
  padding-top: 37px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
}
.photoinfo__text {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  font-stretch: expanded;
  line-height: 1.71;
  text-align: center;
  text-transform: uppercase;
}
.photoinfo__video {
  height: 502px;
  border-top: 1px solid #dcdcdc;
}
.photoinfo__video .photoinfo__video--timeless {
  size: 10px;
  width: 20px;
  height: 10px;
  color: aqua;
}
.photo-card {
  height: 414px;
  border-top: 1px solid #dcdcdc;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
.photo-card__image {
  margin-left: 19px;
  margin-top: 22px;
  margin-right: 20px;
}
.photo-card__header {
  font-size: 20px;
  margin-top: 0px;
  font-weight: bold;
  text-transform: lowercase;
  margin-left: 19px;
}
.photo-card__author {
  font-weight: normal;
  margin-left: 19px;
}
.photo-card__like {
  margin-top: 5px;
  margin-left: 19px;
  font-weight: normal;
}
.photo-card__like-count {
  padding: 3px;
  width: 31px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  margin-left: 35px;
}
.formback {
  padding-left: 23px;
  padding-right: 21px;
  height: 202px;
  background-color: #ffffff;
}
.formback .formback__title {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  padding-top: 37px;
  text-transform: uppercase;
}
.formback .formback__header {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formback .formback__desk {
  padding-top: 28px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 14px;
}
.keyvalue--radio {
  margin-top: 12px !important;
}
.keyvalue {
  display: flex;
  text-transform: uppercase;
  margin-top: 20px;
  align-items: center;
}
.keyvalue__lable {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 14px;
  margin-left: 21px;
  margin-top: auto;
  margin-bottom: auto;
}
.keyvalue__lable--top {
  text-align: left;
  margin-left: 42px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.keyvalue__input {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: black;
  height: 55px;
  flex-grow: 2;
  min-width: 100px;
  margin-left: 14px;
  margin-right: 20px;
  border: 0;
  padding-left: 20px;
  background-color: #f2f2f2;
}
.keyvalue__input--image {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 8px;
  margin-left: 21px;
  margin-right: 20px;
}
.keyvalue__input--image .keyvalue__input {
  margin-left: 0;
  margin-right: 0;
  flex-shrink: 0;
  flex-grow: 1;
}
.keyvalue__input--radio {
  margin-top: 0px;
  margin-left: 20px;
  width: 56px;
  height: 56px;
  border-color: black !important;
}
.keyvalue__lable--radio {
  margin-left: 20px;
  margin-right: 20px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
}
.keyvalue__input--check {
  margin-top: 0px;
  margin-left: 20px;
  width: 56px;
  height: 56px;
  border-color: black !important;
}
.keyvalue__lable--check {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
}
.keyvalue__input-text {
  border: 0;
  resize: none;
  background-color: #f2f2f2;
  margin-top: -6px;
  margin-left: 20px;
  margin-right: 22px;
  height: 155px;
  width: 100%;
  text-transform: none;
  font-family: PTSans;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 15px;
}
.formuser {
  border-top: 1px solid #dcdcdc;
  height: 304px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
}
.formuser .formuser__header {
  padding-top: 18px;
  padding-bottom: 4px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser .formuser__header--top {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--contact {
  border-top: 1px solid #dcdcdc;
  height: 286px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
}
.formuser--contact .formuser__header {
  padding-top: 18px;
  padding-bottom: 4px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--contact .formuser__header--top {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--impression {
  border-top: 1px solid #dcdcdc;
  height: 286px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
}
.formuser--impression .formuser__header {
  padding-top: 18px;
  padding-bottom: 4px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--impression .formuser__header--top {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--impression .formuser__header--radio {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--whatsee {
  border-top: 1px solid #dcdcdc;
  height: 409px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
}
.formuser--whatsee .formuser__header {
  padding-top: 18px;
  padding-bottom: 4px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--whatsee .formuser__header--top {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--whatsee .formuser__header--check {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--callback {
  border-top: 1px solid #dcdcdc;
  height: 372px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
}
.formuser--callback .formuser__header {
  padding-top: 18px;
  padding-bottom: 4px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--callback .formuser__header--top {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--callback .formuser__header--check {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}
.formuser--callback .formuser__button {
  bottom: 0 !important;
  background-color: #81b3d2;
  min-width: 280px;
  margin-top: 38px;
  padding-left: 19px;
  padding-right: 21px;
  height: 58px;
  text-transform: uppercase;
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.intro-5p {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.71;
  text-align: center;
}
.intro-5p__image {
  height: 389px;
  position: relative;
  z-index: -1;
  background: url('../img/intro-triangle-svg.png') no-repeat, url('../img/text-index-svg.png') no-repeat, url('../img/back-mobile-jpg.png') 50% 50% no-repeat;
  background-size: auto,auto, cover;
  background-position: center bottom, 20px 90px;
}
.intro-5p__image * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.intro-5p__image * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.intro-5p__blocktext {
  height: 162px;
  text-transform: uppercase;
}
.intro-5p__header {
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  margin-top: 39px;
  margin-left: 30px;
  margin-right: 30px;
  height: 78px;
}
.intro-5p__text {
  line-height: 1.85;
  font-size: 14px;
  margin-top: 40px;
  margin-left: 32px;
  margin-top: 30px;
}
.intro-5p__decoration {
  z-index: -1;
  background: #81b3d2 url('../img/white-copy-2.png');
  margin-top: 0px;
  height: 37px;
}
.intro-5p__decoration * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.videoplayer {
  margin-top: 37px;
  height: 201px;
  z-index: -1;
  position: relative;
  z-index: 1;
  background: url('../img/video-mobile@1x.jpg') no-repeat;
  background-size: contain;
  background-position: center top, 0px 0px;
}
.videoplayer * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.videoplayer--box {
  margin-top: 156px;
  height: 45px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  opacity: 0.6;
}
.videoplayer--volume-scale {
  z-index: 10;
  margin-top: 178px;
  margin-left: 43px;
  width: 235px;
  height: 3px;
  background-color: white;
  opacity: 0.2;
}
.videoplayer--volume-slider {
  z-index: 10;
  border-radius: 50%;
  margin-top: 175px;
  margin-left: 78px;
  width: 9px;
  height: 9px;
  background-color: white;
}
.videoplayer--box2 {
  margin-top: 201px;
  height: 68px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  opacity: 0.08;
}
.videoplayer--replay {
  margin-left: 45px;
  margin-top: 223px;
  height: 20px;
  z-index: -1;
  background: url('../img/replay-svg.png') no-repeat;
}
.videoplayer--replay * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.videoplayer--subtitles {
  margin-left: 194px;
  margin-top: 225px;
  height: 20px;
  z-index: -1;
  background: url('../img/icon-video-subtitles.svg') no-repeat;
}
.videoplayer--subtitles * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.videoplayer--fullscreen {
  margin-left: 257px;
  margin-top: 224px;
  height: 20px;
  z-index: -1;
  background: url('../img/fullscreen-svg.png') no-repeat;
}
.videoplayer--fullscreen * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
