@r320: 320px;
@r768: 768px;
@r1280: 1280px;

// Меню
@c-base: #81b3d2;

@c-black: black;
@c-black2: black;
@c-black4: black;

@c-white: white;

@c-gray: #efefef;
@c-gray2: #dbdbdb;
@c-gray-light: #f2f2f2;
@c-gray-dark: #e6e6e6;

@c-font_black: black;
@c-bk_white: white;
@c-seporator-line: rgb(220, 220, 220);

@mb_menuitem-bk: #81b3d2;
@mb_menuitem-white: #ffffff;

@mb_adventege_bk_gray: #efefef;
@mb_menuitem-bk-white: #ffffff;
@mb_menuitem-bk-hover: #669ec0;
@mb_menuitem-bk-down: #5496bd;
@mb_menuitem-bk-gradient: linear-gradient(to top, #6c96b0 0%, @mb_menuitem-bk 14%);

@mb_bordrercolor-up: #9ac2db;
@mb_bordercolor-down: #678fa8;

@mb_menuitem-fk-white: #ffffff;
@mb_menuitem-fk: #000000;
@mb_menuitem-fk-hover: #ffffff;
@mb_menuitem-fk-down: rgba(255, 255, 255, 0.3);

@mb_padding-mainmenu-top-down: 10px;

@mb_menuitem-height: 54px;
@mb_menuitem-logo: 70px;

@mb_sizemenu-button_w: 23px;
@mb_sizemenu-button_h: 22px;

@mb_marginmenu-button-right: 10px;

@mb_url-img-close: url("../img/icon-cross.png");
@mb_url-img-open: url("../img/icon-menu-svg.png");
@mb-url-bk-modile: url("../img/back-mobile-jpg.png");


