@import "variable.less";

.visitsedona{
    height: 233px;
    background-color: white;
}

.visitsedona__buttons--bk{
    background-color:#81b3d2;
}

.visitsedona__header{

    margin-top: 0px;
    padding-top: 31px;
    text-align: center;
    text-transform: uppercase;

    font-family: PTSans;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

}

.visitsedona__buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 36px;
}
.visitsedona__buttons--item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  z-index: 2;

}