.visitsedona {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  height: 233px;
  background-color: white;
}
.visitsedona__buttons--bk {
  background-color: #81b3d2;
}
.visitsedona__header {
  margin-top: 0px;
  padding-top: 36px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: black;
}
.visitsedona__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 40px;
}
.visitsedona__button {
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  z-index: 1;
  width: 46px;
  height: 48px;
}
.visitsedona__dev {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: black;
}
.visitsedona__dev-academ {
  z-index: 1;
  position: relative;
  margin-left: 8px;
  margin-top: 0px;
  height: 34px;
  width: 27px;
  background: url('../img/htmlacademy-svg.png') no-repeat;
  background-position: center;
}
.visitsedona__dev-academ * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.visitsedona__image {
  z-index: -1;
}
.visitsedona__image * {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.visitsedona__image--twiter {
  position: relative;
  height: 14px;
  width: 18px;
  background: url('../img/icon-twitter-svg.png') no-repeat;
}
.visitsedona__image--facebook {
  position: relative;
  height: 18px;
  width: 9px;
  background: url('../img/icon-facebook-svg.png') no-repeat;
}
.visitsedona__image--youtube {
  position: relative;
  height: 14px;
  width: 18px;
  background: url('../img/icon-youtube-svg.png') no-repeat;
}
.visitsedona__image--academ {
  z-index: 1;
  position: relative;
  margin-left: 10px;
  height: 34px;
  width: 27px;
  background: url('../img/htmlacademy-svg.png') no-repeat;
  background-position: center;
}
.visitsedona__dev-text {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px ;
}
@media (min-width: 768px) {
  .visitsedona {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
  .visitsedona__dev-text {
    padding-right: 4px;
    padding-bottom: 2px ;
  }
  .visitsedona__dev-academ {
    z-index: 1;
    position: relative;
    margin-left: 8px;
    margin-top: 0px;
    height: 34px;
    width: 27px;
    background: url('../img/htmlacademy-svg.png') no-repeat;
    background-position: center;
  }
  .visitsedona__dev-academ * {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .visitsedona__header {
    flex-grow: 0;
    text-align: left;
    padding-top: 16px;
    padding-left: 28px;
    width: 180px;
  }
  .visitsedona div.visitsedona__buttons {
    height: 0px;
    margin-top: 30px;
    left: 0;
    right: 0;
  }
  .visitsedona__dev {
    flex-grow: 0;
    text-align: left;
    padding-left: 28px;
    width: 180px;
  }
}
@media (min-width: 768px) {
  .visitsedona__buttons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }
  .visitsedona__header {
    position: absolute;
    left: 0;
    margin-left: 32px;
    margin-top: 1px;
  }
  .visitsedona__dev {
    position: absolute;
    right: 0;
    margin-right: 34px;
    margin-top: 13px;
  }
}
@media (min-width: 1280px) {
  .visitsedona {
    padding-bottom: 30px;
  }
  .visitsedona__header {
    position: absolute;
    left: 0;
    margin-left: 92px;
    margin-top: 1px;
  }
  .visitsedona__dev {
    position: absolute;
    right: 0;
    margin-right: 94px;
    margin-top: 13px;
  }
}
