.visitsedona {
  font-family: PTSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  height: 233px;
  background-color: white;
}
.visitsedona__buttons--bk {
  background-color: #81b3d2;
}
.visitsedona__header {
  margin-top: 0px;
  padding-top: 37px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: black;
}
.visitsedona__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 38px;
}
.visitsedona__button {
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  z-index: 1;
  width: 46px;
  height: 48px;
}
.visitsedona__dev {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: black;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .visitsedona {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .visitsedona__header {
    padding-top: 0px;
    margin-top: 16px;
  }
  .visitsedona div.visitsedona__buttons {
    height: 0px;
    margin-top: 30px;
  }
  .visitsedona div.visitsedona__dev {
    height: 0px;
    margin-top: 30px;
    padding-right: 10px;
  }
}
